<?xml version="1.0" encoding="utf-8"?>
<module>
    <clientModule initializer="context-reload-module.initializer">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
    </clientModule>

    <dojo>
        <paths>
            <add name="context-reload-module" path="Scripts" />
        </paths>
    </dojo>
</module>